.user-home-icon-top
  .row
    .col-sm-4.text-center
      = link_to '', order_due_diligence_path, class: 'fa fa-briefcase fa-5x user-home-icons'
      %br
      = link_to 'Order Due Diligence', order_due_diligence_path, class: 'user-home-icons'
    .col-sm-4.text-center
      = link_to '', orders_path, class: 'fa fa-eye fa-5x user-home-icons'
      %br
      = link_to 'My Orders', orders_path, class: 'user-home-icons'
    .col-sm-4.text-center
      = link_to '', edit_user_registration_path, class: 'fa fa-user fa-5x user-home-icons'
      %br
      = link_to 'Profile', edit_user_registration_path, class: 'user-home-icons'