.user-home-icon-top
  .row
    .col-sm-3.text-center
      = link_to '', new_document_safe_path, class: 'fa fa-building-o fa-5x user-home-icons'
      %br
      = link_to 'Create Document Safe', new_document_safe_path, class: 'user-home-icons'
    .col-sm-3.text-center
      = link_to '', document_safes_path, class: 'fa fa-lock fa-5x user-home-icons'
      %br
      = link_to 'Open Document Safe', document_safes_path, class: 'user-home-icons'
    .col-sm-3.text-center
      = link_to '', orders_path, class: 'fa fa-eye fa-5x user-home-icons'
      %br
      = link_to 'Order History', orders_path, class: 'user-home-icons'
    .col-sm-3.text-center
      = link_to '', edit_user_registration_path, class: 'fa fa-user fa-5x user-home-icons'
      %br
      = link_to 'Profile', edit_user_registration_path, class: 'user-home-icons'