= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  - if resource.errors.any?
    .alert.alert-danger
      = devise_error_messages!
  .form-group
    = f.label :first_name, 'First name'
    = f.text_field :first_name, autofocus: true, class: 'form-control', required: true
  .form-group
    = f.label :last_name, 'Last name'
    = f.text_field :last_name, class: 'form-control', required: true
  .form-group
    = f.label :phone_number, 'Phone number'
    = f.text_field :phone_number, class: 'form-control'
  .form-group
    = f.label :company_name, 'Company name'
    = f.text_field :company_name, class: 'form-control'
  .form-group
    = f.label :company_street_address, 'Street address'
    = f.text_field :company_street_address, class: 'form-control'
  .form-group
    = f.label :company_city, 'City'
    = f.text_field :company_city, class: 'form-control'
  .form-group
    = f.label :company_state, 'State'
    = f.select :company_state, ['AL','AK','AZ','AR','CA','CO','CT','DC','DE','FL','GA','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY'], {selected: resource.company_state}, class: 'form-control'
  .form-group
    = f.label :company_zip, 'Zip'
    = f.text_field :company_zip, class: 'form-control'
  .form-group
    = f.label :email
    = f.email_field :email, :autofocus => true, class: 'form-control'
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    .form-group
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  .form-group
    = f.label :password
    %i (leave blank if you don't want to change it)
    = f.password_field :password, :autocomplete => "off", class: 'form-control'
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, class: 'form-control'
  .form-group
    = f.label :current_password
    %i (we need your current password to confirm your changes)
    = f.password_field :current_password, class: 'form-control'
  %h3 Billing Information
  .form-group
    = label_tag 'credit_card[card_number]', 'Credit Card Number'
    = text_field_tag 'credit_card[card_number]', nil, class: 'form-control'
  .form-group
    = label_tag 'credit_card[expiration_year]', 'Expiration Year (must be 4 digits)'
    = text_field_tag 'credit_card[expiration_year]', nil, class: 'form-control'
  .form-group
    = label_tag 'credit_card[expiration_month]', 'Expiration Month (must be 2 digits)'
    = text_field_tag 'credit_card[expiration_month]', nil, class: 'form-control'
  .form-group
    = label_tag 'credit_card[security_code]', 'Security Code'
    = text_field_tag 'credit_card[security_code]', nil, class: 'form-control'
  .form-group
    = label_tag 'credit_card[name]', 'Full Name'
    = text_field_tag 'credit_card[name]', nil, class: 'form-control'
  .form-group
    = label_tag 'credit_card[phone_number]', 'Phone Number'
    = text_field_tag 'credit_card[phone_number]', nil, class: 'form-control'
  .form-group
    = label_tag 'credit_card[street_address]', 'Billing Street Address'
    = text_field_tag 'credit_card[street_address]', nil, class: 'form-control'
  .form-group
    = label_tag 'credit_card[city]', 'Billing City'
    = text_field_tag 'credit_card[city]', nil, class: 'form-control'
  .form-group
    = label_tag 'credit_card[state]', 'Billing State'
    = select_tag 'credit_card[state]', options_for_select(['AL','AK','AZ','AR','CA','CO','CT','DC','DE','FL','GA','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY'], {selected: resource.company_state}), class: 'form-control'
  .form-group
    = label_tag 'credit_card[postal_code]', 'Billing Zip'
    = text_field_tag 'credit_card[postal_code]', nil, class: 'form-control'
  = f.submit "Update", class: 'btn btn-primary'