.section
  .container
    .row
      .col-sm-4
      .col-sm-4
        %h2
          Edit #{resource_name.to_s.humanize}
        - if resource.manager?
          = render 'manager_edit'
        - else
          = render 'lawyer_broker_edit'
        %br
        %h3 Cancel my account
        = link_to 'Unhappy?', 'mailto: info@controlsafe.com', class: 'profile-unhappy-link'
        %p
          #{button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: 'btn btn-primary'}
        = link_to "Back", :back
      .col-sm-4