.section
  .container
    .row
      .col-sm-4
      .col-sm-4
        %h2 Registration
        = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
          - if resource.errors.any?
            .alert.alert-danger
              = devise_error_messages!
          .form-group
            = f.label :type, 'Select'
            %br
            = f.radio_button :type, 'Broker', checked: true, class: "btn btn-default user-type"
            = f.label :type, 'Broker', class: "btn btn-default"
            = f.radio_button :type, 'Lawyer', class: "btn btn-default user-type"
            = f.label :type, 'Lawyer', class: "btn btn-default"
            = f.radio_button :type, 'Manager', class: "btn btn-default user-type"
            = f.label :type, 'Manager', class: "btn btn-default"
          .user-information-registration
            = render partial: 'welcome/lawyer_broker_registration_form', locals: { f: f }
          = link_to 'Terms and Conditions', terms_and_conditions_path(user_type: 'broker'), class: 'terms-and-conditions-link'
          .form-group
            = check_box 'terms_and_conditions', nil, required: true
            = label_tag 'terms_and_conditions', 'I agree to the terms and conditions'
          %p.warning-message Warning! It is a class E Felony (NYS Judiciary Law Sec. 486) to impersonate an attorney.
          = f.submit "Register", class: 'btn btn-primary'
      .col-sm-4
.selected-user-type-info{ data: { user_type: 'broker' } }