<html>
<head>
  <meta content= "text/html; charset=UTF-8", http-equiv= "Content-Type"/>
</head>
<body>
  <p>Due diligence documents are awaiting your review in connection with your client's real estate transaction.</p>
  <br>
  <p>1. Please go to: <a href='https://www.controlsafe.com'>www.controlsafe.com</a></p>
  <br>
  <p>2. If you're not a registered user, a short registration process is required.</p>
  <br>
  <p>3. Log in and select "Review Due Diligence"</p>
  <br>
  <p>4. Enter this authorization code (Please copy and paste):</p>
  <br>
  <p><%= @authorization_code %></p>
  <br>
  <p>Thank you for using ControlSafe.</p>
  <br>
  <span>
    ControlSafe.com
    80 Maiden Lane
    New York, NY 10038
    (212) 430-6030
  </span>
</body>
</html>