Due diligence documents are awaiting your review in connection with your client's real estate transaction.

1. Please go to: www.controlsafe.com

2. If you're not a registered user, a short registration process is required.

3. Log in and select "Review Due Diligence"

4. Enter this authorization code (Please copy and paste):

<%= @authorization_code %>

Thank you for using ControlSafe.

ControlSafe.com
80 Maiden Lane
New York, NY 10038
(212) 430-6030