!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p This is the confirm your order.
    %br
    %p The documents have been emailed to the purchaser's attorney for immediate review.
    %br
    %p We recommend that you forward an email reminder to the purchaser's attorney.
    %br
    %p Thank you for using ControlSafe.
    %br
    %span
      ControlSafe.com
      80 Maiden Lane
      New York, NY 10038
      (212) 430-6030