%header#jump.header
  %nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: root_path}
          %i.fa.fa-lock
      .collapse.navbar-collapse.hidden-xs
        %ul.nav.navbar-nav.navbar-right
          %li{ class: "#{'active' if params[:controller] == 'welcome'}" }
            = link_to 'Home', root_path, method: :get
          %li{ class: "#{'active' if params[:controller] == 'document_safes' && params[:action] == 'new'}" }
            = link_to 'Create Document Safe', new_document_safe_path, method: :get
          %li{ class: "#{'active' if (params[:controller] == 'document_safes' && params[:action] == 'index') || (params[:controller] == 'documents')}" }
            = link_to 'Open Document Safe', document_safes_path, method: :get
          %li{ class: "#{'active' if params[:controller] == 'orders'}" }
            = link_to 'Order History', orders_path, method: :get
          %li{ class: "#{'active' if params[:controller] == 'registrations'}" }
            = link_to 'Profile', edit_user_registration_path, method: :get
          %li
            = link_to 'Sign out', destroy_user_session_path, method: :delete
      .collapse.navbar-responsive-collapse
        %ul.nav.navbar-nav
          %li{ class: "#{'active' if params[:controller] == 'welcome'}" }
            = link_to 'Home', root_path, method: :get
          %li{ class: "#{'active' if params[:controller] == 'document_safes'}" }
            = link_to 'Create Document Safe', new_document_safe_path, method: :get
          %li{ class: "#{'active' if params[:controller] == 'document_safes'}" }
            = link_to 'Open Document Safe', document_safes_path, method: :get
          %li{ class: "#{'active' if params[:controller] == 'orders'}" }
            = link_to 'Order History', '', method: :get
          %li{ class: "#{'active' if params[:controller] == 'registrations'}" }
            = link_to 'Profile', edit_user_registration_path
          %li
            = link_to 'Sign out', destroy_user_session_path, method: :delete