.row
  .col-sm-12.text-center
    .board-minute-reader
      %h3 Board Minute Reader
      %p= "Session Reader: #{current_user.fullname}"
      %p= "Today's Date: #{Date.today}"
      %p= "Authorization Code: #{@order.authorization_code}"
      %p= "Minute Date: #{@document.publish_date}"
      %p.warning.text-center
        WARNING!
      %p.warning-description.text-center= "THE RULES OF #{@document.document_safe.building_name} AND THE SITE TERMS & CONDITIONS STRICTLY PROHIBIT ELECTRONICALLY COPYING, RECORDING, OR CAPTURING THE CONTENTS OF THIS PAGE. YOUR AUTHORIZATION IS LIMITED TO READING THIS PAGE ONLY. THIS PAGE CONTAINS FEATURES FOR SECURITY TRACKING PURPOSES"
      %p.pull-left Go back to read more minutes
      %p.pull-right This page can only be read once
      .iframe-wrapper
        %iframe{src: @document.doc.expiring_url(600), width: '100%', height: '6000'}
        .iframe-blocker
:javascript
  $(document.body).attr('oncontextmenu', "return false");
