.row
  .col-sm-2
  .col-sm-8
    - if @document.type == 'OfferingPlan'
      %h1.text-center= 'Offering Plan'
      %h2.text-center= @document.document_safe.street_address
    - else
      %h1.text-center= 'Financial Statement'
      %h2.text-center= @document.document_safe.street_address
      %h2.text-center= "Publish date: #{@document.publish_date}"
.row
  .col-sm-2
  .col-sm-8
    %iframe{src: @document.doc.expiring_url(600), width: '100%', height: '800'}
  .col-sm-2