.row
  .col-sm-12
    %iframe{src: @document.doc.expiring_url(600), width: '100%', height: '800'}
.row
  .col-sm-12
    %ul.list-unstyled.list-inline.pull-right
      %li= link_to 'Edit', edit_document_path(@document), class: 'btn btn-primary'
      %li= link_to 'Delete', document_path(@document), confirm: 'Are you sure you want to delete this document?', method: :delete, class: 'btn btn-primary'