.section
  .container
    .row
      .col-sm-4
      .col-sm-4
        %h2 Forgot your password?
        = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
          - if resource.errors.any?
            .alert.alert-danger
              = devise_error_messages!
          .form-group
            = f.label :email
            = f.email_field :email, autofocus: true, class: 'form-control'
          = f.submit "Send me reset password instructions", class: 'btn btn-primary'
        = render "devise/shared/links"
      .col-sm-4
