#jump1.jumper
.section.type-2
  .container
    .section-headlines
      %h4 About Us
      %h2 Problems we are solving
    .row
      .col-sm-12
        %p When it comes to the labor intensive and error-prone tasks cooperatives, condominiums and real estate associations perform for prospective purchasers in connection with their due diligence review, ControlSafe.com is the smart solution. 
        %br
        %p With ControlSafe, real estate due diligence becomes a streamlined and efficient process with best practices ensured each step of the way.
        %br/ 
        %p Gone are the days of outdated or piecemeal due diligence documents ending up in the hands of a prospective purchaser. Co-op boards, for example, can now rest assured that every purchaser has relied upon the most current version of their proprietary lease and house-rules.
        %br/ 
        %p ControlSafe.com stops unauthorized document access. Every due diligence request is logged, every board minute reader’s identity verified, credentials are never assumed, and the details of who read what and when are archived.
        %br/ 
        %p ControlSafe.com prevents an organization’s original documents from being altered or lost and prevents unauthorized document reproduction.
        %br/ 
        %p ControlSafe.com maintains a critical separation between management staff and the legal representative of a prospective purchaser. Gone are the burdens of office visits and the legal risks associated with the impromptu conversations such visits occasion. An unintentional, but nevertheless legally binding statement, for example, about a condo’s renovation policy is the sort of mistake ControlSafe prevents.
        %br/ 
        %p Gone too are the days of endless environmentally wasteful copies, the pestering phone calls, the unnecessary messengers, the needless postage, the wasted staff time, and the all around headaches associated with outmoded due diligence document production.
        %br/ 
        %p ControlSafe.com offers significant benefits to prospective purchasers and their representatives, too. When considering the costs of professional time, document printing, and performing due diligence without technology, a purchaser can expect to save money and their representatives can expect to save time.
        %br/ 
        %p ControlSafe.com has a simple to use credit card payment process. A prospective purchaser doesn’t have to waste more money messengering a check and no one has to waste time verifying and processing payment.
        %br/ 
        %p Every ControlSafe.com user, whether manager, lawyer, or broker, benefits from the best practices ControlSafe.com establishes for cooperatives, condominiums and real estate associations.