#jump6.jumper
.section.type-1.section-contact
  .container
    .section-headlines
      %h4
        Contact Us
        %h2 We are here to help
    %form
      .row
        .col-lg-4
          %address
            .address-row
              .address-sign
                %i.fa.fa-map-marker
              %div{style: "address-info"}
                %b> ControlSafe LLC
                %br/
                80 Maiden Lane
                %br/
                New York, NY 10038
            %hr/
            .address-row
              .address-sign
                %i.fa.fa-envelope
              %div{style: "address-info"}
                %b Email:
                <a href="mailto:info@controlsafe.com">info@controlsafe.com</a>
            %hr/
            .address-row
              .address-sign
                %i.fa.fa-phone
              %div{style: "address-info"}
                %b Phone:
                (212) 430-6030
            %hr/
            .address-row
              .address-sign
                %i.fa.fa-time
              %div{style: "address-info"}
                %b 10am - 6pm (EST)
                %br/
                Monday through Friday
          .visible-xs.visible-sm
            %br.gap-30/
            %hr.gap-divider/
            %br.gap-30/
        .col-lg-7.col-lg-offset-1
          %form
          = form_tag send_email_path, method: :get do
            .form-group
              .row
                .col-lg-6
                  = text_field_tag :name, '', placeholder: 'Your Name *', class: 'form-control'
                  %br.gap-15/
                .col-lg-6
                  = text_field_tag :email, '', placeholder: 'Your Email *', required: true, class: 'form-control'
            .form-group
              = text_field_tag :subject, '', placeholder: 'Subject', class: 'form-control'
            .form-group
              = text_area_tag :content, '', rows: 8, required: true, class: 'form-control'
            = submit_tag 'Send Email', class: 'btn btn-block btn-primary'