#jump0.jumper
.section.type-1.big.splash
  .welcome-page-flash
    = render 'layouts/flash'
  .splash-cover
    .centered-home
      .container
        .section-headlines
          %h1 Welcome to ControlSafe
          %p Where Smart Cooperatives, Condominiums and Real Estate Organizations Harness Technology to Ensure Best Practices
        %a.btn.btn-outline.btn-lg{href: '', data: { toggle: 'modal', target: '#registerModal' } }
          Register
        %a.btn.btn-outline.btn-lg{href: '', data: { toggle: 'modal', target: '#signinModal' } }
          Sign in
= render 'signin_modal'
= render 'register_modal'