.form-group
  = label_tag :user_first_name, 'First name'
  = text_field_tag :user_first_name, nil, autofocus: true, class: 'form-control', required: true, name: 'user[first_name]'
.form-group
  = label_tag :user_last_name, 'Last name'
  = text_field_tag :user_last_name, nil, class: 'form-control', required: true, name: 'user[last_name]'
.form-group
  = label_tag :user_email, 'Email'
  = text_field_tag :user_email, nil, class: 'form-control', required: true, name: 'user[email]', id: 'lawyer-broker-registration-email'
.form-group
  = label_tag :user_password, 'Password'
  = password_field_tag :user_password, nil, class: 'form-control', required: true, name: 'user[password]', id: 'lawyer-broker-registration-password'
.form-group
  = label_tag :user_password_confirmation, 'Password confirmation'
  = password_field_tag :user_password_confirmation, nil, class: 'form-control', required: true, name: 'user[password_confirmation]', id: 'lawyer-broker-registration-password-confirmation'
.form-group
  = label_tag :user_phone_number, 'Phone number'
  = text_field_tag :user_phone_number, nil, class: 'form-control', name: 'user[phone_number]'
.form-group
  = label_tag :user_company_name, 'Company name'
  = text_field_tag :user_company_name, nil, class: 'form-control', name: 'user[company_name]'
.form-group
  = label_tag :user_company_street_address, 'Street address'
  = text_field_tag :user_company_street_address, nil, class: 'form-control', name: 'user[company_street_address]'
.form-group
  = label_tag :user_company_city, 'City'
  = text_field_tag :user_company_city, nil, class: 'form-control', name: 'user[company_city]'
.form-group
  = label_tag :user_company_state, 'State'
  = select_tag :user_company_state, options_for_select(['AL','AK','AZ','AR','CA','CO','CT','DC','DE','FL','GA','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY'], {selected: 'NY'}), class: 'form-control', name: 'user[company_state]'
.form-group
  = label_tag :user_company_zip, 'Zip'
  = text_field_tag :user_company_zip, nil, class: 'form-control', name: 'user[company_zip]'
%h3 Billing Information
.form-group
  = label_tag 'credit_card[card_number]', 'Credit Card Number'
  = text_field_tag 'credit_card[card_number]', nil, class: 'form-control', required: true
.form-group
  = label_tag 'credit_card[expiration_year]', 'Expiration Year (must be 4 digits)'
  = text_field_tag 'credit_card[expiration_year]', nil, class: 'form-control', required: true
.form-group
  = label_tag 'credit_card[expiration_month]', 'Expiration Month (must be 2 digits)'
  = text_field_tag 'credit_card[expiration_month]', nil, class: 'form-control', required: true
.form-group
  = label_tag 'credit_card[security_code]', 'Security Code'
  = text_field_tag 'credit_card[security_code]', nil, class: 'form-control', required: true
.form-group
  = label_tag 'credit_card[name]', 'Full Name'
  = text_field_tag 'credit_card[name]', nil, class: 'form-control', required: true
.form-group
  = label_tag 'credit_card[phone_number]', 'Phone Number'
  = text_field_tag 'credit_card[phone_number]', nil, class: 'form-control', required: true
.form-group
  = label_tag 'credit_card[street_address]', 'Billing Street Address'
  = text_field_tag 'credit_card[street_address]', nil, class: 'form-control', required: true
.form-group
  = label_tag 'credit_card[city]', 'Billing City'
  = text_field_tag 'credit_card[city]', nil, class: 'form-control', required: true
.form-group
  = label_tag 'credit_card[state]', 'Billing State'
  = select_tag 'credit_card[state]', options_for_select(['AL','AK','AZ','AR','CA','CO','CT','DC','DE','FL','GA','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY'], {selected: 'NY'}), class: 'form-control'
.form-group
  = label_tag 'credit_card[postal_code]', 'Billing Zip'
  = text_field_tag 'credit_card[postal_code]', nil, class: 'form-control', required: true