#jump2.jumper
.section.type-1{style: "padding-bottom: 0"}
  .container
    .section-headlines
      %h4 Privacy Policy
      %h2 We take privacy seriously
    .row
      .col-sm-12
        %br/ 
        %p ControlSafe.com is committed to handling our users' ("Users") private information in ways which preserve their on-line privacy, while at the same time ensuring a User’s use is in compliance with ControlSafe.com’s (“Site”) Terms & Conditions. 
        %br
        %p Aggregate information ("Aggregate Information") of Site Users, which generally is information that under ordinary circumstances could not be used to identify an individual, is used to improve our services and provide future services to all our Users.  We will not provide Aggregate Information to third parties not affiliated with this Site, except as otherwise set forth herein. 
        %br
        %p Non-personal information ("Non-personal Information"), such as a User's page visits and use patterns, is used by the Site to facilitate our Users' Site experience and to improve our services and to provide future services. We will not provide Non-personal Information to third parties not affiliated with this Site, except as otherwise set forth herein. 
        %br
        %p Personal information ("Personal Information") voluntarily provided to us is used in order to communicate with Users and/or to assist a User with conducting business on ControlSafe.com, except as to a User’s name and address and use log information, which is shared with the User(s) whose documentation and/or information the User requests and reviews. We will not otherwise provide a User’s Personal Information to third parties, except as otherwise further set forth herein.
        %br
        %p Personal activity ("Personal Activity "), such as queries, document requests, document reviews, emails, uploads and account information are monitored through the Site to ensure compliance with our Terms and Conditions. A User’s identifying information, which generally means their name, address and date and time of access, is shared with the User who owns and maintains the information the User has accessed through the Site. For this reason it is important to limit your business on the Site to matters concerning information or services provided and/or your transactions on the Site. We will not provide your Personal Activity to third parties who have no relationship to the information you access, except as otherwise set forth herein.
        %br
        %p Additional information ("Additional Information"), such as information which is the result of cookies, analytics, gif files, security watermark software, ControlSafe.com viewer security code or similar code used on the Site to ensure Site compliance is used by ControlSafe.com to ensure compliance with Site Terms & Conditions.  Users can at any time disable cookies in their browser if they do not wish us to use cookies; however, disabling cookies may cause some features to become unavailable or cause additional security features to activate. We will not provide your Additional Information to third parties, except as otherwise set forth herein.
        %br
        %p There are limited occasions when we will provide a User's Aggregate Information, Non-personal Information, Personal Information, Personal Activity and Additional Information to third parties, beyond your name and address and access date and time, to the User whose information a User has accessed: if we believe in good faith that doing so is necessary to protect the legal rights of other Users including ControlSafe.com; if we have reason to believe that a false statement has been made to us in a User’s registration or thereafter; if we believe that misleading information has been provided to us; if we believe that we must alert law enforcement of a potential crime, or in order to comply with a criminal investigation; or if a governmental entity requests information in order to comply with any regulation.
        %br
        %p This Privacy Policy does not apply to a User's name, address, email address, date and time of access when viewing or reviewing documents or information on this Site, which will be provided to the User who owns and maintains those documents on this Site to ensure compliance with Terms & Conditions compliance.
        %br
        %p It is important for all Site Users to use the most current and updated security software on their computers and electronic devices when using ControlSafe.com.  No electronic medium is one hundred percent (100%) secure; therefore, any information we collect from you or any information you share with us is at your own risk.
        %br
        %p From time to time we may modify this Privacy Policy.  When modifications are made all prior versions of our Privacy Policy shall be retained and the new Privacy Policy shall show the date of the modification on this page or a similar page.
        %br
        %p Questions about our Privacy Policy or requests to modify or exclude any information previously provided to us should be directed to <a href="mailto:info@controlsafe.com">info@controlsafe.com</a>
        %br
    %br/
    %br/
    %br/