#registerModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Register
      .modal-body
        = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
          .form-group
            = f.label :type, 'Select'
            %br
            = f.radio_button :type, 'Broker', checked: true, class: "btn btn-default user-type"
            = f.label :type, 'Broker', class: "btn btn-default"
            = f.radio_button :type, 'Lawyer', class: "btn btn-default user-type"
            = f.label :type, 'Lawyer', class: "btn btn-default"
            = f.radio_button :type, 'Manager', class: "btn btn-default user-type"
            = f.label :type, 'Manager', class: "btn btn-default"
          .user-information-registration
            = render partial: 'lawyer_broker_registration_form', locals: { f: f }
          = link_to 'Terms and Conditions', terms_and_conditions_path(user_type: 'broker'), class: 'terms-and-conditions-link', target: '_blank'
          .form-group
            = check_box 'terms_and_conditions', nil, required: true
            = label_tag 'terms_and_conditions', 'I agree to the terms and conditions'
          %p.warning-message Warning! It is a crime (NYS Real Property Law Art. 12A Sec. 442-e) for an unlicensed person to act as a licensed real estate broker or licensed salesperson.
          = f.submit "Register", class: 'btn btn-primary'
.selected-user-type-info{ data: { user_type: 'broker' } }