#signinModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Sign in
      .modal-body
        = form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { role: 'form' }) do |f|
          = flash[:alert]
          .form-group
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, class: 'form-control'
          .form-group
            = f.label :password
            %br/
            = f.password_field :password, class: 'form-control'
          - if devise_mapping.rememberable?
            .form-group
              = f.check_box :remember_me
              = f.label :remember_me
          = f.submit "Sign in", class: 'btn btn-primary'
        = render "devise/shared/links"