#jump4.jumper
.section.type-3
  .container
    .section-headlines
      %h4 Support
      %h2 Some Frequently Asked Questions
    .row
      .col-sm-12
        %br/ 
        .support-q-and-a
          %strong.support-questions=link_to "Is there any monthly or recurring fee to use ControlSafe.com?", '#'
          %p.support-answers No.  Registered users incur no membership fees or recurring charges.
        %br/
        .support-q-and-a
          %strong.support-questions=link_to "Why is a credit card required to register?", '#'
          %p.support-answers Registration for real   estate brokers and lawyers requires that you authenticate your identity with a credit card. However, your credit card will not be charged unless you purchase due diligence documents. 
        %br/ 
        .support-q-and-a
          %strong.support-questions=link_to "Can I use my firm's credit card?", '#'
          %p.support-answers Yes.  An attorney or real   estate broker may register with the credit card belonging to their firm.
        %br/ 
        .support-q-and-a
          %strong.support-questions=link_to "Can non-registered users, use ControlSafe.com to view due diligence documents?", '#'
          %p.support-answers No. To ensure compliance with site Terms & Conditions and the terms and conditions of our cooperatives, condominiums and real estate organizations, access to all site services is limited to registered users who meet the site requirements.
        %br/
        .support-q-and-a
          %strong.support-questions=link_to "What format are documents in?", '#'
          %p.support-answers All site documents are  generally in pdf format.
        %br/
        .support-q-and-a
          %strong.support-questions=link_to "What if my authorization code fails?", '#'
          %p.support-answers In most instances this  suggests that you have made a typographical error when entering your authorization code.  Log-out and re-enter your authorization code.  If this fails please contact us, and we will review the issue.
        %br/ 
        .support-q-and-a
          %strong.support-questions=link_to "I never received my authorization code?", '#'
          %p.support-answers Please ensure that you are  looking in the email account the broker for the transaction has on file for you.  Please check your spam folder and otherwise contact us and we will investigate the issue.
        %br/
        .support-q-and-a
          %strong.support-questions=link_to "Is use of ControlSafe.com limited to brokers, lawyers and managers?", '#'
          %p.support-answers Yes.  However, a paralegal working under the control and supervision of a site-registered user/attorney may use this site to review and obtain due diligence documents; an assistant to a site registered licensed real estate salesperson or real estate broker may use this site to place due diligence document orders; and the employee of a registered managing agent may use this site to maintain their account on behalf of that managing agent.
        %br/ 
        .support-q-and-a
          %strong.support-questions=link_to "Can due diligence documents be searched?", '#'
          %p.support-answers Yes.  While reading due   diligence documents you may use a search or find feature to locate specific information.
        %br/
        .support-q-and-a
          %strong.support-questions=link_to "When reviewing board minutes can I record the contents?", '#'
          %p.support-answers You may take your own notes; however, the taking of screen shots or electronically recording board minutes, in whole or part, is strictly prohibited and a substantial violation of site Terms & Conditions and the terms of the user owner (cooperative, condominium or real estate organization) which maintains the board minutes on the site.  Violations can be traced and will be reported to the cooperative, condominium or real estate organization, without exception, amongst the other remedies provided for in the site Terms & Conditions.  
        %br/
        .support-q-and-a
          %strong.support-questions=link_to "Can ControlSafe.com be used on handheld devices or tablets?", '#'
          %p.support-answers Controlsafe.com has been programmed to work on all platforms.  Its design is responsive, meaning the page contents will resize to fit your device. Try resizing this window, for example.  On very small devices the navigation bar will show as an accordion and can be selected to display it vertically.
        %br/ 
        .support-q-and-a
          %strong.support-questions=link_to "Can ControlSafe.com be used from any computer and at any time?", '#'
          %p.support-answers Registered users can use ControlSafe.com 24/7 and from any computer or device to which the user has access.  In some rare instances a user's browser may not be supported. Please use Chrome, Internet Explorer, Firefox or Safari when viewing the site or contact us with the name and version of your browser for additional assistance.
        %br/  
        .support-q-and-a
          %strong.support-questions=link_to "I cannot scroll through the board minutes and/or I cannot find the next month’s minutes?", '#'
          %p.support-answers Make sure your cursor is pointed between the up and down arrows on the right of the minute reader window.  Mac users should drag the slide bar down after it appears.  Use the browser back arrow to go to the next set of unread minutes.
        %br
        .support-q-and-a
          %strong.support-questions=link_to "Can I read the board minutes on multiple occasions?", '#'
          %p.support-answers No. Your authorization is limited to one session.  Each set of board minutes can only be read once. 
        %br/ 
        .support-q-and-a
          %strong.support-questions=link_to "What if the due diligence documents I am looking for are not on this site?", '#'
          %p.support-answers Let us know.  New building safes are being constructed on behalf of cooperatives, condominiums and real estate organizations on controlsafe.com every day.
        %br/ 
        .support-q-and-a
          %strong.support-questions=link_to "What if I have additional questions or need additional information?", '#'
          %p.support-answers Real people are here to help you. You may choose to email us, or to call.