- if user_signed_in?
  - if current_user.manager?
    = render 'welcome/user_index_pages/manager_index'
  - elsif current_user.lawyer?
    = render 'welcome/user_index_pages/lawyer_index'
  - elsif current_user.broker?
    = render 'welcome/user_index_pages/broker_index'
- else
  = render 'home'
  = render 'about'
  = render 'privacy'
  = render 'support'
  = render 'contact'
  :javascript
    $('.nav-tabs a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    })