.row.text-center
  .col-sm-2
  .col-sm-8.apartment-information
    = label_tag :apartment_number, 'Documents requested in connection with the sale of apartment:'
    .row
      .col-sm-5
      .col-sm-2
        = text_field_tag :apartment_number, nil, placeholder: 'Unit #', class: 'form-control', required: true
      .col-sm-5
  .col-sm-2