- if @offering_plans
  - @offering_plans.map(&:id).each do |id|
    = hidden_field_tag 'offeringplan[]', id
- if @financial_statements && @free_financial_statements
  - (@free_financial_statements + @financial_statements).map(&:id).each do |id|
    = hidden_field_tag 'financialstatement[]', id
- elsif @financial_statements && @free_financial_statements.blank?
  - @financial_statements.map(&:id).each do |id|
    = hidden_field_tag 'financialstatement[]', id
- elsif @fiancial_statements.blank? && @free_financial_statements
  - @free_financial_statements.map(&:id).each do |id|
    = hidden_field_tag 'financialstatement[]', id
- if @board_minutes
  - @board_minutes.map(&:id).each do |id|
    = hidden_field_tag 'boardminute[]', id
= hidden_field_tag :document_safe_id, @document_safe.id
= f.hidden_field :apartment_number, value: @apartment_number
= f.hidden_field :price, value: @cart_prices[:price]
= f.hidden_field :sales_tax, value: @cart_prices[:sales_tax]
= f.hidden_field :total_price, value: @cart_prices[:total_price]