- if @order
  - if @order.errors.any?
    #error_explanation
      .alert.alert-danger.text-center
        The form contains #{pluralize(@order.errors.count, "error")}.
        %ul.list-unstyled
          - @order.errors.full_messages.each do |msg|
            %li
              * #{msg}