.row
  .col-sm-4.document-safe-list
    %h2 Your Document Safes Orders
    %h3 (Select Safe)
    %ul.list-group
      - @document_safes.each do |document_safe|
        %li.list-group-item.document-safe-orders-title= link_to document_safe.building_name, document_safe_orders_path(document_safe_id: document_safe.id), remote: true
    = will_paginate @document_safes
  .col-sm-8.document-safe-orders
.row
  .col-sm-12.document-safe-orders-information