%table.table.table-hover
  %thead
    %tr
      %th Order Number
      %th Purchase Date
  %tbody
    - @orders.each do |order|
      %tr
        %td.order-number-link= link_to order.order_number, order_path(order), class: 'custom-active', remote: true
        %td= order.created_at.to_date