.row.document-safe-information
  .col-sm-12.text-center
    %h4 Documents provided by:
    %span= @document_safe.manager.company_name
    %br
    %span= @document_safe.street_address
    %br
    %span= "#{@document_safe.city} #{@document_safe.state} #{@document_safe.zip}"
.row.order-due-diligence-search-results
  = form_tag(add_to_cart_path(method_caller: 'order_due_diligence'), method: :get, html: { role: 'form' }) do
    = render 'apartment_form_section'
    %br
    .row
      .col-sm-4
        %a{id: 'check_all', class: 'btn btn-primary'}
          Check / Uncheck All Documents
      .col-sm-4
        %a{id: 'financial_statement_all', class: 'btn btn-primary'}
          Check / Uncheck All Financial Statements
      .col-sm-4
        %a{id: 'board_minute_all', class: 'btn btn-primary'}
          Check / Uncheck All Board Minutes
    .row.order-due-diligence-search-results
      .col-sm-4
        %h3.text-center Offering Plan and Last Two Years Financials
        %h4.text-center (Includes Financials)
        = render partial: 'search_result_table', object: @offering_plans, as: :documents
      .col-sm-4
        %h3.text-center Financial Statements
        %h4.text-center (Financials Only)
        = render partial: 'search_result_table', object: @financial_statements, as: :documents
      .col-sm-4
        %h3.text-center Board Minutes
        %h4.text-center (Minimum Order - 24 Months)
        = render partial: 'search_result_table', object: @board_minutes, as: :documents
      = hidden_field_tag :document_safe_id, nil, value: @document_safe.id
    = submit_tag 'Add Documents to Cart', disable_with: "Adding to cart...", class: 'btn btn-primary btn-lg pull-right'

:javascript
  $('#check_all').on("click", function(){ $('input[type="checkbox"]').click(); });
  $('#financial_statement_all').on("click", function(){ $('input[name="financialstatement[]"]').click(); });
  $('#board_minute_all').on("click", function(){ $('input[name="boardminute[]"]').click(); });