- if params[:action] == 'new' || params[:action] == 'create'
  %table.table.table-hover
    %thead
      %tr
        - if documents.first.offering_plan?
          %th.text-center Title
        - else
          %th.text-center Publish date
        %th.text-center Price
    %tbody
      - documents.each do |document|
        %tr
          - if documents.first.offering_plan?
            %td Offering Plan
          - else
            %td= document.publish_date
          - if params[:freefinancialstatement].blank?
            %td= "$#{document.price}"
          - elsif params[:freefinancialstatement].include? document.id.to_s
            %td $0.00
          - else
            %td= "$#{document.price}"
- else
  %table.table.table-hover
    %thead
      %tr
        - unless documents.blank?
          - if documents.first.offering_plan?
            %th Title
          - else
            %th Publish date
          %th Price
          %th Add
      %tbody
        - documents.each do |document|
          %tr
            - if documents.first.offering_plan?
              %td Offering Plan
            - else
              %td= document.publish_date
            %td= "$#{document.price}"
            %td= check_box_tag "#{document.type.downcase}[]", document.id, false