.row
  .col-sm-12
    %h2.text-center Confirm your order
    .document-safe-information
      .col-sm-12.text-center
        %h4 Documents provided by:
        %span= @document_safe.manager.company_name
        %br
        %span= @document_safe.street_address
        %br
        %span= "#{@document_safe.city} #{@document_safe.state} #{@document_safe.zip}"
        %br
        %span= "Unit #: #{@apartment_number}"
.row.order-due-diligence-search-results.text-center
  = form_for([current_user, current_user.orders.build], method: :post, html: { role: 'form' }) do |f|
    = render 'checkout_errors'
    .col-sm-3
      .form-group
        = f.label :recipient_name
        %br
        %strong (Must be buyer's attorney)
        = f.text_field :recipient_name, class: 'form-control', required: true
      .form-group
        = f.label :recipient_email
        = f.text_field :recipient_email, class: 'form-control', required: true
    .col-sm-3
      %h4 Offering Plan 
      - if @offering_plans
        = render partial: 'search_result_table', object: @offering_plans, as: :documents
      - if @free_financial_statements
        %h4 Last Two Years Financials
        = render partial: 'search_result_table', object: @free_financial_statements, as: :documents
    .col-sm-3
      %h4 Financial Statements
      - if @financial_statements
        = render partial: 'search_result_table', object: @financial_statements, as: :documents
    .col-sm-3
      %h4 Board Minutes
      - if @board_minutes
        = render partial: 'search_result_table', object: @board_minutes, as: :documents
    = render partial: 'checkout_hidden_fields', locals: { f: f }
    .row
      .col-sm-9
      .col-sm-3
        %dl
          %dt Price
          %dd= "$#{@cart_prices[:price]}"
          %dt Sales Tax
          %dd= "$#{@cart_prices[:sales_tax]}"
          %dt Total Price
          %dd= "$#{@cart_prices[:total_price]}"
        = f.submit 'Checkout', disable_with: "Procesing...", class: 'btn btn-primary btn-lg'