.row
  .col-sm-4
    = form_tag(search_document_safes_path, method: :get, html: { role: 'form' } ) do
      .form-group
        = label_tag :building_address
        = autocomplete_field_tag :building_address, '', autocomplete_document_safe_street_address_orders_path, class: 'form-control', required: true
      = submit_tag 'Search', class: 'btn btn-primary'
.order-due-diligence-search-results
  - if @document_safe
    = render 'search_results'