.row  
  .col-sm-3
    = form_tag(review_due_diligence_path, method: :get, html: { role: 'form' }) do
      .form-group
        = label_tag :authorization_code, 'Authorization code (cut & paste)'
        = text_field_tag :authorization_code, nil, class: 'form-control'
      = submit_tag nil, class: 'btn btn-primary'
- if @order
  .row
    .col-sm-4
      %h2 Offering Plan
      %h3 (Select to View/Download/Print)
      - unless @offering_plan.empty?
        %ul.list-group
          - @offering_plan.each do |offering_plan|
            - if @order.expired?
              %li.list-group-item Offering Plan (expired)
            - else
              %li.list-group-item= link_to 'Offering Plan', document_path(offering_plan, order_id: @order.id)
    .col-sm-4
      %h2 Financial Statements
      %h3 (Select to View/Download/Print)
      - unless @financial_statements.empty?
        %ul.list-group
          -@financial_statements.each do |financial_statement|
            - if @order.expired?
              %li.list-group-item= "#{financial_statement.publish_date} (expired)"
            - else
              %li.list-group-item= link_to financial_statement.publish_date, document_path(financial_statement, order_id: @order.id)
    .col-sm-4
      %h2 Board Minutes
      %h3 (Select to read only once)
      - unless @board_minutes.empty?
        %ul.list-group
          - @board_minutes.each do |board_minute|
            - if @order.order_items.find_by(document: board_minute).order_item_views.count >= 1
              %li.list-group-item= "#{board_minute.publish_date} (expired)"
            - else
              %li.list-group-item= link_to board_minute.publish_date, document_path(board_minute, order_id: @order.id)
  .row
    .col-sm-12
      = link_to 'Order Missing Documents', add_to_cart_path(order_id: @order.id, method_caller: 'order_missing_documents', apartment_number: @order.apartment_number, document_safe_id: @order.document_safe.id), class: 'btn btn-primary pull-right'