.row
  .col-sm-7
    %dl.dl-order-information
      %dt Order #
      %dd= @order.order_number
      %dt Price
      %dd= "$#{@order.price}"
      %dt Sales Tax
      %dd= "$#{@order.sales_tax}"
      %dt Total Price
      %dd= "$#{@order.total_price}"
      %dt Purchaser Name
      %dd= User.find(@order.customer_user_id).fullname
      %dt Purchaser Email
      %dd= User.find(@order.customer_user_id).email
      %dt Recipient Name
      %dd= @order.recipient_name
      %dt Recipient Email
      %dd= @order.recipient_email
      %dt Authorization Code
      %dd= @order.authorization_code
      %dt Apartment Number
      %dd= @order.apartment_number
      %dt Order Number
      %dd= @order.order_number
      %dt Building Name
      %dd= @order.document_safe.building_name
  .col-sm-5
    %h2 Documents
    - if @order.include_offering_plan?
      %h4 Offering Plan
      %ul.list-group
        %li.list-group-item Offering Plan
    - if @order.include_financial_statements?
      %h4 Financial Statements
      - @order.financial_statements.each do |financial_statement|
        %ul.list-group
          %li.list-group-item= financial_statement.publish_date
    - if @order.include_board_minutes?
      %h4 Board Minutes
      - @order.board_minutes.each do |board_minute|
        %ul.list-group
          %li.list-group-item= board_minute.publish_date