= form_for([@document_safe, @document_safe.documents.build], role: 'form') do |f|
  .form-group
    = f.label :type
    = f.select :type, ['BoardMinute', 'FinancialStatement', 'OfferingPlan'], {}, class: 'form-control'
  .form-group
    = f.label :price
    = f.select :price, (2..4).map { |x| "$#{x.to_f.round(2)}0" }, {}, class: 'form-control'
  .form-group.publish-date-select
    = f.label :publish_date
    = f.text_field :publish_date , class: 'form-control datepicker'
  .form-group
    = f.label :doc, 'Attach PDF'
    = f.file_field :doc
  = f.submit 'Create Document', class: 'btn btn-primary'