.row
  .col-sm-4
  .col-sm-4
    %h2 Edit Document
    = form_for(@document, url: document_path(@document), method: :put, role: 'form') do |f|
      .form-group
        = f.label :type
        = f.select :type, [@document.type], {selected: @document.type}, name: 'document[type]', class: 'form-control'
      .form-group
        = f.label :price
        - if @document.offering_plan?
          = f.select :price, (150..300).step(10).map { |x| "$#{x.to_f.round(2)}0" }, {selected: "$#{@document.price}"}, name: 'document[price]', class: 'form-control'
        - elsif @document.financial_statement?
          = f.select :price, (75..150).step(5).map { |x| "$#{x.to_f.round(2)}0" }, {selected: "$#{@document.price}"}, name: 'document[price]', class: 'form-control'
        - elsif @document.board_minute?
          = f.select :price, (2..4).map { |x| "$#{x.to_f.round(2)}0" }, {selected: "$#{@document.price}"}, name: 'document[price]', class: 'form-control'
      - unless @document.offering_plan?
        .form-group.publish-date-select
          = f.label :publish_date
          = f.text_field :publish_date , selected: @document.publish_date, name: 'document[publish_date]', data: { behaviour: 'datepicker' }, class: 'form-control datepicker'
      .form-group
        = f.label :doc, 'Attach PDF'
        = f.file_field :doc, name: 'document[doc]'
      = f.submit 'Update Document', class: 'btn btn-primary'
  .col-sm-4