.row
  .col-sm-4
    %h2= "Documents for #{@document_safe.building_name}"
  .col-sm-8
    %ul.list-unstyled.list-inline.pull-right
      %li= link_to 'Add a New Document', '', data: { toggle: 'modal', target: '#newDocumentModal' }, class: 'btn btn-primary'
      %li= link_to 'Go Back to Previous Page', session[:last_document_safe_page], class: 'btn btn-primary' if session[:last_document_safe_page]
.row
  .col-sm-3
    %ul.list-group
      %h3.document-type-header Offering Plan
      - @documents.where(type: 'OfferingPlan').each do |board_minute|
        %li.list-group-item.document-show-title-link= link_to 'Offering Plan', document_path(board_minute), class: 'custom-active document-links', remote: true
      %h3.document-type-header Financial Statement
      - @documents.where(type: 'FinancialStatement').each do |board_minute|
        %li.list-group-item.document-show-title-link= link_to board_minute.publish_date, document_path(board_minute), class: 'custom-active document-links', remote: true
      %h3.document-type-header Board Minute
      - @documents.where(type: 'BoardMinute').each do |board_minute|
        %li.list-group-item.document-show-title-link= link_to board_minute.publish_date, document_path(board_minute), class: 'custom-active document-links', remote: true
    = will_paginate @documents
  .col-sm-9.document-show-section
= render 'new_document_modal'