- if current_user.manager?
  = render 'documents/show_pages/manager_document_show'
- elsif current_user.lawyer?
  - if @document.board_minute?
    = render 'documents/show_pages/lawyer_board_minute_show'
  - else
    = render 'documents/show_pages/lawyer_offering_plan_financial_statement_show'