%h4 Terms & Conditions
%p Welcome to ControlSafe.com.  At the submission of registration, you and/or your company (hereinafter and together “Registrant”), in exchange for your use of ControlSafe.com, are agreeing to the following Terms and Conditions (“Terms”).
%br
%p These Terms are specific to real estate brokers, and apply to Registrant’s use of ControlSafe.com services as a real estate broker. Please read through and consider these Terms carefully before choosing to use ControlSafe.com as a real estate broker.
%br
%p These Terms constitute a legal agreement between Registrant, and LDPD Realty Holdings, LLC d/b/a ControlSafe.com (“ControlSafe”).
%br
%strong A. LICENSE TO USE CONTROLSAFE
%br
%br
%p 1. ControlSafe is granting Registrant, acting on behalf of a prospective property purchaser who has an accepted offer on the property for which Registrant is obtaining information on ControlSafe and on behalf of that prospective purchaser’s lawyer, a limited, non-exclusive, revocable, non-transferable license to use the services of ControlSafe, as outlined herein, and subject to the limitations set forth herein, provided Registrant complies with these Terms.  
%br
%p 2. Registrant acknowledges the right to use ControlSafe is non-transferable and personal.  
%br
%p 3.  Registrant agrees not to let other persons or entities use or view ControlSafe through their account; however, a Registrant may permit employee(s) under their direct supervision and control to use ControlSafe on their behalf.  Registrant is responsible for any and all actions undertaken by such employees while using the ControlSafe. 
%br
%p 4. YOU AGREE NOT TO ATTEMPT TO USE CONTROLSAFE FOR ANY PURPOSE OTHER THAN ON BEHALF OF A PROPSECTIVE PURCHASER, WHO HAS AN ACCEPTED OFFER, WHOM YOU ARE REPRESENTING AS A REAL ESTATE AGENT, TO FACILIATE THAT PURCHASER’S LAWYER’S OBTAINING DUE DILIGENCE DOCUMENTS ON CONTROLSAFE. YOU AGREE CONTROLSAFE HAS THE RIGHT TO REPORT ANY VIOLATION OF CONTROLSAFE TERMS TO AN AGREIVED PARTY INCLUDING A COOPERATIVE, CONDOMINIUM OR REAL ESTATE ASSOCIATION.   YOU UNDERSTAND THAT THIS MAY RESULT IN A SALES APPLICATION BEING REJECTED, AND/OR A CIVIL CLAIM, ADMINSTRATIVE COMPLAINT OR CRIMINAL COMPLAINT BEING FILED AGAINST YOU.
%br
%strong B.  CONTROLSAFE SERVICES GENERALLY
%br
%p 1. ControlSafe is intended for licensed real estate brokers, lawyers and managing agents to use as a virtual forum for conducting due diligence document review in connection with prospective real estate purchases. ControlSafe provides a forum for a prospective purchaser’s lawyer to learn about a cooperative, condominium or real estate association. Registrant agrees not to make any use of ControlSafe that is inconsistent with this intended purpose, or to attempt to obtain information from ControlSafe for another purpose. 
%br
%p 2. Registrant acknowledges that ControlSafe is not acting as the agent or representative of any user including Registrant, the purchaser Registrant represents or the real estate entity in which the Registrant’s purchaser is purchasing, except to host the information that the owner or managing agent maintains on ControlSafe. 
%br
%p 3. There is no lawyer-client relationship between ControlSafe and Registrant or Registrant’s client or any other ControlSafe user.  ControlSafe does not offer any legal opinion or advice as to any due diligence document maintained on ControlSafe. The hosting of due diligence documents on ControlSafe should not be viewed as ControlSafe’s endorsement of the contents, or be viewed as ControlSafe offering any legal opinion, advice, promise or warranty as to the contents.  Registrant agrees never to make any representation to the contrary to any person or entity. 
%br
%strong C.  REGISTRANT’S OBLIGATIONS
%br
%br
%p 1.  Registrant agrees to provide complete and accurate information to ControlSafe during registration and Registrant agrees their right to use ControlSafe is contingent on their having a New York State real estate sales person or broker’s license in good standing. 
%br
%p 2. Registrant agrees to keep their account information updated, to maintain up to date security software on their computer(s), and to protect the confidentially of their account information and password(s). 
%br
%p 3.  Registrant agrees to use ControlSafe only in connection with their active representation of a prospective purchaser of a unit in a cooperative, condominium or real estate association for the purpose of facilitating due diligence for a specific purchaser. 
%br
%p 4.  Registrant agrees to keep all information obtained from ControlSafe confidential, and in no event shall Registrant make any information public, in electronic form, or otherwise. 
%br
%strong D. PAYMENTS AND CONTROLSAFE FEES 
%br
%br
%p 1. Registrant agrees to pay the fee set by the property owner or manager for the due diligence that Registrant is obtaining on behalf of a prospective purchaser’s lawyer. Registrant understands that ControlSafe is paid a portion of that fee. 
%br
%p 2. The ControlSafe fee is compensation for a lawyer’s due diligence authorization and download, which generally includes: user validation, user authentication, authorization code generation, credit card payment processing, ACH direct deposit payments to a payee entity, computer code and programming maintenance, user account maintenance, server space, sales tax collection and reporting and Registrant’s use of our proprietary model and software. 
%br
%p 3.  Registrant warrants that they have the right to order due diligence documents on behalf of the purchaser(s) for whom Registrant uses ControlSafe. Registrant further warrants that they have reviewed their brokerage agreement to confirm their authority to use ControlSafe and to pay fees to ControlSafe. ControlSafe has not offered, and will not, offer any opinion on the terms of a Registrant’s agency agreements.  
%br
%p 4. ControlSafe will collect the NYS Sales Tax from Registrant required for the purchase of Information Services and remit the sales tax to NYS.  It’s the Registrant’s responsibility to advise the prospective purchaser of these charges and collect payment or reimbursement from that purchaser.
%br
%strong E.  LIMITATIONS OF CONTROLSAFE’S OBLIGATIONS, LIABILITY AND INDEMNITIES 
%br
%br
%p 1. ControlSafe assumes no responsibility of any nature or kind related to any due diligence document Registrant obtains through ControlSafe.  Registrant acknowledges that ControlSafe is not making any representations, endorsement, warranty or promise to any person, of any nature or kind, either implicit or explicit, related to contents of any document made available for review on ControlSafe.  Registrant understands that ControlSafe will not inspect any document, or any matter discussed in any document which Registrant obtains from ControlSafe, including but not limited to any financial statement, either for accuracy, completeness, relevance or otherwise.
%br
%p 2. Registrant agrees to indemnify and hold harmless ControlSafe, its members, officers, agents, employees, contractors, vendors and/or assigns from any loss or liability of every nature and kind, including legal fees, whether in whole or part related to, or alleged to be caused by, any due diligence document Registrant obtains through ControlSafe or any use of ControlSafe by Registrant, or use of ControlSafe in violation of these Terms, and this indemnity shall be on-going, even after Registrant ceases to use ControlSafe. 
%br
%p 3. ControlSafe may, but accepts no obligation to, investigate any ControlSafe misuse, fraud, and/or violation of law; however, ControlSafe will report, and reserves the right to report any activity ControlSafe believes to be a violation of law to the appropriate authorities, including all information provided to us, in order to assist law enforcement. 
%br
%p 4.  ControlSafe, to the full extent permitted by law, disclaims all warranties, whether express or implied, as to the use of ControlSafe, including but not limited to: merchantability or fitness for any particular purpose; the software or code used in ControlSafe; the bandwidth or quality of services provided; that e-mails, downloads or other communications will be free of viruses; the continued availability of any service; the security or risk of malicious attacks on ControlSafe; changes in any of our software programs, tools or functions of ControlSafe, and interruptions in ControlSafe services. 
%br
%p 5. The deletion of any back up data is at the sole risk of Registrant and the parties to the real estate transaction underlying Registrant’s use of ControlSafe. Registrant agrees to maintain original records independent of ControlSafe.  In the event of ControlSafe outage, discontinuance or extended interruption, Registrant agrees to obtain hardcopy documents for a prospective purchaser’s representative.  
%br
%p 6.  ControlSafe reserves the right at any time to suspend, terminate or take ControlSafe off-line, for any reason, and Registrant agrees to indemnify and hold harmless ControlSafe for any loss or liability Registrant incurs as a result of such termination. 
%br
%p 7.  To the extent the foregoing indemnities and limitations of liability are not enforceable or are enforceable only as a limitation of liability, as to any cause of action of every nature and kind, then in all events, the liability of ControlSafe shall be limited to the fees an aggrieved party has paid to ControlSafe, without any accrued interest or other penalty. 
%br
%strong F.  DISCLAIMER OF WARRANTY
%br
%br
%p Registrant acknowledges and understands that ControlSafe is in beta-form and real time testing and development are on-gong.  ControlSafe makes no representation as to what errors, corrections, improvements, changes or code refactoring needs to be performed in order for ControlSafe to function properly. Registrant agrees that all services are provided “as is” and “as available”. ControlSafe disclaims any warranty of fitness, that ControlSafe or any service will satisfy the legal requirements or organizational requirements of any person or entity. ControlSafe disclaims all warranties, either express or implied, including but not limited to, merchantability, fitness of purpose, non-infringement, or otherwise.
%br
%strong G.  LIMITATION OF LIABILITY
%br
%br
%p Registrant agrees that in all cases or controversies arising between the parties the liability of ControlSafe shall be limited to the amount of fees collected from Registrant by ControlSafe without any accrued interest or penalty.  These limitations, disclaimers and indemnities shall survive in perpetuity and after the Registrant has ceased using ControlSafe.
%br
%strong H. PRIVACY POLICY 
%br
%br
%p Registrant acknowledges having reviewed ControlSafe’s Privacy Policy. 
%br
%br
%strong I. CHOICE OF LAW, JURISDICTION AND VENUE
%br
%br
%p It is agreed that the laws of New York State shall govern these Terms.  Venue shall be in New York County.  The use of ControlSafe shall not be subject to or interpreted under any other law, treaty or UN Convention.  ControlSafe reserves the right to change jurisdiction and/or venue at any time, and ControlSafe will post such change here. All suits claims, or causes of action must be brought within one year from the date of occurrence or such suit, claim or cause of action is hereby waived.  All parties to this agreement waive the right to pursue a class action lawsuit and the right to trial by jury. 
%br
%strong J. LINK BACKS, CONTROLSAFE SITE SUGGESTIONS & CONTROLSAFE PROPERTY
%br
%br
%p 1. Registrant is strictly prohibited from posting a link to ControlSafe on their web-site except that if their web-site is for the management of residential real estate, then, and providing that Registrant is a registered user of ControlSafe and providing that Registrant does not imply that ControlSafe has endorsed any service that Registrant provides or document or information maintained on ControlSafe; however, if ControlSafe, in our sole discretion, deem Registrant’s use of the ControlSafe link inconsistent with the intended purpose of ControlSafe, ControlSafe reserves the right to terminate Registrant’s  use of a link to ControlSafe.
%br
%p 2. Any suggestions, feedback or questions or comments Registrant, its officers, employees, contractors or vendors submit to ControlSafe, whether as to ControlSafe functions, computer code, copy, business logic, additional services or otherwise will belong to ControlSafe, and Registrant is granting ControlSafe an unrestricted right to use such suggestions, ideas and/or materials for commercial purposes without compensation or acknowledgement to Registrant, and without regard to duration or jurisdiction. Do not share suggestions or ideas of any nature or kind with ControlSafe if you do not agree to this provision. 
%br
%p 3. Registrant understands and acknowledges that all ControlSafe: code, ControlSafe layout, ControlSafe design, ControlSafe user interfaces, and ControlSafe business logic, are the property of ControlSafe.  All such content is protected by copyright, trademark, patent and otherwise in law.  In exchange for the limited rights to use ControlSafe, Registrant agrees not to attempt to copy, mimic, imitate, reverse engineer or otherwise replicate ControlSafe.
%br
%strong K.  ENFORCEABILITY, WAIVER & FULL AGREEMENT
%br
%br
%p Should any Term be deemed unenforceable, such provision shall be deemed void and severed and the balance of the terms shall remain in full force and effect. Failure of ControlSafe to exercise any right hereunder shall not be deemed a waiver of any right hereunder.   These Terms shall be deemed the entire agreement between Registrant and ControlSafe, regardless of any other communication, whether written or oral, which is made between Registrant and ControlSafe’s members, agents, employees or representatives.  
%br
%strong L. MODIFICATIONS TO THESE TERMS AND CONDITIONS
%br
%br
%p ControlSafe reserves the right to modify, delete and supplant these Terms at any time and in its sole discretion and Registrant is responsible for periodically checking on revisions, which shall be noted chronologically here. If Registrant does not agree to any change, Registrant should stop using ControlSafe. ControlSafe further reserves the right to change its base fee structure and/or eligibility policies for any service on thirty days notice. Unless stated otherwise, all such changes shall be subject to these Terms.
%br
%strong M.  AGREEMENT
%br
%br
%p If you complete registration you are agreeing to these Terms & Conditions.