%h4 Terms & Conditions
%p Welcome to ControlSafe.com.  At the submission of registration, you and/or your law firm (hereinafter and together “Registrant”), in exchange for your use of ControlSafe.com, are agreeing to the following Terms and Conditions (“Terms”).
%br 
%p These Terms are specific to lawyers, and apply to Registrant’s use of ControlSafe.com services as a lawyer. Please read through and consider these Terms carefully before choosing to use ControlSafe.com as a lawyer.
%br
%p These Terms constitute a legal agreement between Registrant, and LDPD Realty Holdings, LLC d/b/a ControlSafe.com (“ControlSafe”).
%br
%strong A. LICENSE TO USE CONTROLSAFE
%br
%br
%p 1. ControlSafe is granting you as a lawyer (“Registrant”) representing a prospective property purchaser who has an accepted offer on the property for which you are obtaining information on ControlSafe, a limited, non-exclusive, revocable, non-transferable license to use the services of ControlSafe, as outlined herein, and subject to the limitations set forth herein, provided you comply with these Terms.  
%br
%p 2. Registrant acknowledges the right to use ControlSafe is non-transferable and personal.  
%br 
%p 3.  Registrant agrees not to let other persons or entities use or view ControlSafe through their account; however, a Registrant may permit paralegal(s) under their direct supervision and control to use ControlSafe on their behalf.  Registrant is responsible for any and all actions undertaken by its paralegals while using the ControlSafe. 
%br
%p 4. REGISTRANT AGREES NOT TO ATTEMPT TO USE CONTROLSAFE FOR ANY PURPOSE OTHER THAN ON BEHALF OF A PROPSECTIVE PURCHASER OF A RESIDENTIAL PROPERTY, WHO HAS AN ACCEPTED OFFER ON THAT PROPERTY, AND WHO REGISTRANT IS REPRESENTING AS THEIR LAWYER, TO FACILIATE THAT PURCHASER’S DUE DILIGENCE IN CONNECTION WITH THEIR OFFER. YOU AGREE CONTROLSAFE HAS THE RIGHT TO REPORT ANY VIOLATION OF CONTROLSAFE TERMS TO AN AGREIVED PARTY INCLUDING A COOPERATIVE, CONDOMINIUM OR REAL ESTATE ASSOCIATION.   REGISTRANT UNDERSTANDS THAT THIS MAY ALSO RESULT IN A SALES APPLICATION BEING REJECTED.
%br
%strong B.  CONTROLSAFE SERVICES GENERALLY
%br
%br
%p 1. ControlSafe is intended for licensed real estate brokers, lawyers and managing agents to use as a virtual forum for conducting due diligence document review in connection with prospective real estate purchases. ControlSafe provides a forum for a prospective purchaser’s lawyer to learn about a cooperative, condominium or real estate association. Registrant agrees not to make any use of ControlSafe that is inconsistent with this intended purpose. 
%br
%p 2. Registrant acknowledges that ControlSafe is not acting as the agent or representative of any user including Registrant, the prospective purchaser(s) Registrant represents or entity in which the Registrant’s purchaser is purchasing, except to host the information that entity maintains on ControlSafe. 
%br
%p 3. There is no lawyer-client relationship between ControlSafe and Registrant or Registrant’s client or any other ControlSafe user.  ControlSafe does not offer any legal opinion or advice as to any due diligence document maintained on ControlSafe. The maintenance of due diligence documents on ControlSafe should not be viewed as ControlSafe’s endorsement of the contents, or be viewed as ControlSafe offering any legal opinion, advice, promise or warranty as to the contents.  You agree never to make any representation to the contrary. 
%br
%strong C.  REGISTRANT’S OBLIGATIONS
%br
%br
%p 1.  Registrant agrees to provide complete and accurate information to ControlSafe during registration and Registrant agrees their right to use ControlSafe is contingent on their having a license in good standing to practice law in the State of New York. 
%br
%p 2. Registrant agrees to be responsible for keeping their account information updated, for maintaining up to date security software on their computers, and for protecting the confidentially of their account information and password. 
%br
%p 3.  Registrant agrees to use ControlSafe only in connection with their active representation of a prospective purchaser of a unit in a cooperative, condominium or real estate association for the sole purpose of performing due diligence for a specific purchaser. 
%br
%p 4.  Registrant agrees to keep all information obtained from ControlSafe confidential, except that Registrant may on a need to know basis prepare opinions, reports or generally share the information with their client who is a prospective purchaser for the limited purpose of conducting due diligence, or their client’s professional representatives, who are then representing Registrant’s client as prospective purchaser in the entity in which the Registrant has obtained due diligence information; however, in no event shall Registrant make any information public, in electronic form or otherwise, or use the information obtained for another client or for any other purpose. 
%br
%strong D. PAYMENTS AND CONTROLSAFE FEES 
%br
%br
%p 1. Registrant agrees to pay the fee set by the building owner or manager, if Registrant orders due diligence directly from ControlSafe. Registrant understands that ControlSafe is paid a portion of that fee. 
%br
%p 2. The ControlSafe fee is compensation for the services provided up to the point of a Registrant’s authorization and download, which generally includes: user validation, user authentication, authorization code generation, credit card payment processing, ACH direct deposit payments to a payee entity, computer code and programming maintenance, user account maintenance, server space, sales tax collection and reporting and Registrant’s use of our proprietary model and software. 
%br
%p 3.  Registrant warrants that they have the right to order due diligence documents on behalf of the purchaser(s) for whom Registrant uses ControlSafe.  Registrant agrees, warrants and represents never to order any document from ControlSafe when they are not actively engaged in representing a prospective purchaser.
%br
%p 4. ControlSafe will collect the applicable NYS Sales Tax required for the purchase of Information Services and remit the sales tax to NYS.  It is the Registrant’s responsibility to advise their client of these charges and collect payment or reimbursement from their client.
%br
%strong E.  LIMITATIONS OF CONTROLSAFE’S OBLIGATIONS, LIABILITY AND INDEMNITIES 
%br
%br
%p 1. ControlSafe assumes no responsibility of any nature or kind related to any due diligence document Registrant obtains through ControlSafe.  Registrant acknowledges that ControlSafe is not making any representations, endorsement, warranty or promise to any person, of any nature or kind, either implicit or explicit, related to contents of any document made available for review on ControlSafe.  Registrant understands that ControlSafe will not inspect any document, or any matter discussed in any document which Registrant obtains from ControlSafe, including, but not limited to, any financial statement, either for accuracy, completeness, relevance or otherwise.
%br
%p 2. Registrant agrees to indemnify and hold harmless ControlSafe, its members, officers, agents, employees, contractors, vendors and/or assigns from any loss or liability of every nature and kind, including legal fees, whether in whole or part related to, or alleged to be caused by, any due diligence document Registrant obtains through ControlSafe, or any use of ControlSafe by Registrant, and this indemnity shall be on-going, even after Registrant ceases to use ControlSafe. 
%br
%p 3. ControlSafe may, but accepts no obligation to, investigate any ControlSafe misuse, fraud, and/or violation of law; however, ControlSafe will report, and reserves the right to report any activity ControlSafe believes to be a violation of law to the appropriate authorities, including all information provided to us, in order to assist law enforcement. 
%br
%p 4.  ControlSafe, to the full extent permitted by law, disclaims all warranties, whether express or implied, as to the use of ControlSafe, including but not limited to: merchantability or fitness for any particular purpose; the software or code used in ControlSafe; the bandwidth or quality of services provided; that e-mails, downloads or other communications will be free of viruses; the continued availability of any service; the security or risk of malicious attacks on ControlSafe; changes in any of our software programs, tools or functions of  ControlSafe, and interruptions in ControlSafe services. 
%br
%p 5. The deletion of any data is at the sole risk of Registrant and the parties to the real estate transaction underlying Registrant’s use of ControlSafe. Registrant agrees to maintain original records independent of ControlSafe.  In the event of ControlSafe outage, discontinuance or extended interruption, Registrant agrees to obtain hardcopy documents for a prospective purchaser directly from the entity.  
%br
%p 6.  ControlSafe reserves the right at any time to suspend, terminate or take ControlSafe off-line, for any reason, and Registrant agrees to indemnify and hold harmless ControlSafe for any loss or liability Registrant incurs as a result of such termination. 
%br
%p 7.  Registrant agrees to indemnify and hold harmless ControlSafe, from any loss or liability ControlSafe incurs as a result of Registrant’s misuse of ControlSafe, including but not limited to: Registrant’s attempted access of documents belonging to an entity in which Registrant is then not representing a prospective purchaser; Registrant’s taking screenshots or electronically recording any document that is restricted to read-only form on ControlSafe; Registrant’s misrepresenting ControlSafe’s explicit warranty disclaimers to any party, and this indemnity shall include legal fees and be continuing and on-going even after Registrant ceases to use ControlSafe.
%br
%p 8.  Registrant agrees to indemnify and hold harmless ControlSafe from Registrant’s failure to keep all information obtained from the ControlSafe confidential as to Registrant’s client or Registrant’s client’s professional representatives, who are then also representing Registrant’s client as prospective purchaser in the entity in which the Registrant has obtained due diligence information, including ControlSafe’s legal fees. 
%br
%p 9. The Registrant agrees to the extent the foregoing indemnities and limitations of liability are not enforceable or are enforceable only as a limitation of liability, as to any cause of action of every nature and kind, including legal fees, then in all events, the liability of ControlSafe shall be limited to the fees an aggrieved party has paid to ControlSafe and without any accrued interest or penalty. 
%br
%p 10. These limitations, disclaimers and indemnities shall survive in perpetuity and after the Registrant has ceased using ControlSafe.
%br
%strong F.  DISCLAIMER OF WARRANTY
%br
%br
%p Registrant acknowledges and understands that ControlSafe is in beta-form and real time testing is on-gong.  ControlSafe makes no representation as to what errors, corrections, improvements, changes or code refactoring needs to be performed in order for ControlSafe to function properly. Registrant agrees that all services are provided “as is” and “as available”. ControlSafe disclaims any warranty of fitness, that ControlSafe or any service will satisfy the legal requirements or organizational requirements of any person or entity. ControlSafe disclaims all warranties, either express or implied, including but not limited to, merchantability, fitness of purpose, non-infringement, or otherwise.
%br
%strong G.  LIMITATION OF LIABILITY
%br
%br
%p Registrant agrees that in all cases or controversies arising between the parties the liability of ControlSafe shall be limited to the amount of fees collected from Registrant by ControlSafe without any accrued interest or penalty.
%br
%p These limitations, disclaimers and indemnities shall survive in perpetuity and after the Registrant has ceased using ControlSafe.
%br
%strong H. PRIVACY POLICY 
%br
%br
%p Registrant acknowledges having reviewed ControlSafe’s Privacy Policy. 
%br
%strong I. CHOICE OF LAW, JURISDICTION AND VENUE
%br
%br
%p It is agreed that the laws of New York State shall govern these Terms.  Venue shall be in New York County.  The use of ControlSafe shall not be subject to or interpreted under any other law, treaty or UN Convention.  ControlSafe reserves the right to change jurisdiction and/or venue at any time, and ControlSafe will post such change here.
%br
All suits, claims, or causes of action must be brought within one year from the date of occurrence or such suit, claim or cause of action is hereby waived.  All parties to this agreement waive the right to pursue a class action lawsuit and the right to trial by jury. 
%br
%strong J. LINK BACKS, CONTROLSAFE SITE SUGGESTIONS & CONTROLSAFE PROPERTY
%br
%br
%p 1. Registrant is strictly prohibited from posting a link to ControlSafe on their website except that if their web-site is for the management of residential real estate, then, and providing that Registrant is a registered user of ControlSafe and providing that Registrant does not imply that ControlSafe has endorsed any service that Registrant provides or document or information maintained on ControlSafe; however, if ControlSafe in our sole discretion deem Registrant’s use of the ControlSafe link inconsistent with the intended purpose of ControlSafe, ControlSafe reserves the right to terminate Registrant’s  use of a link to ControlSafe.
%br
%p 2. Any suggestions, feedback or questions or comments Registrant, its partners, employees, contractors or vendors submit to ControlSafe, whether as to ControlSafe functions, computer code, copy, business logic, additional services or otherwise will belong to ControlSafe, and Registrant is granting ControlSafe an unrestricted right to use such suggestions, ideas and/or materials for commercial purposes without compensation or acknowledgement to Registrant, and without regard to duration or jurisdiction. Do not share suggestions or ideas of any nature or kind with ControlSafe if you do not agree to this provision. 
%br
%p 3. Registrant understands and acknowledges that all ControlSafe: code; ControlSafe layout, ControlSafe design, ControlSafe user interfaces, and ControlSafe business logic, are the property of ControlSafe.  All such content is protected by copyright, trademark, patent and otherwise in law.  In exchange for the limited rights to use ControlSafe, Registrant agrees not to attempt to copy, mimic, imitate, reverse engineer or otherwise replicate ControlSafe.
%br
%strong K.  ENFORCEABILITY, WAIVER & FULL AGREEMENT
%br
%br
%p Should any Term be deemed unenforceable, such provision shall be deemed void and severed and the balance of the terms shall remain in full force and effect. Failure of ControlSafe to exercise any right hereunder shall not be deemed a waiver of any right hereunder.   These Terms shall be deemed the entire agreement between Registrant and ControlSafe, regardless of any other communication, whether written or oral, which is made between Registrant and ControlSafe’s members, agents, employees or representatives.  
%br
%strong L. MODIFICATIONS TO THESE TERMS AND CONDITIONS
%br
%br
%p ControlSafe reserves the right to modify, delete and supplant these Terms at any time and in its sole discretion. Registrant is responsible for periodically checking on revisions, which shall be noted chronologically here. If Registrant does not agree to any change, Registrant should stop using ControlSafe. ControlSafe further reserves the right to change its base fee structure and/or eligibility policies for any service on thirty days notice. Unless stated otherwise, all such changes shall be subject to these Terms.
%br
%strong M.  AGREEMENT
%br
%p If you complete registration you are agreeing to these Terms & Conditions.