= form_for(@document_safe, html: { role: 'form' }) do |f|
  .form-group
    = f.label :building_name
    = f.text_field :building_name, class: 'form-control', required: true
  .form-group
    = f.label :street_address
    = f.text_field :street_address, class: 'form-control', required: true
  .form-group
    = f.label :city
    = f.text_field :city, class: 'form-control', required: true
  .form-group
    = f.label :state
    = f.select :state, ['AL','AK','AZ','AR','CA','CO','CT','DE','FL','GA','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY'], {selected: 'NY'}, class: 'form-control'
  .form-group
    = f.label :zip
    = f.text_field :zip, class: 'form-control', required: true
  .form-group
    = f.label :custom_id, 'Custom Id'
    = f.text_field :custom_id, class: 'form-control'
  = f.submit class: 'btn btn-primary'
  - if params[:action] == 'new'
    = f.submit 'Create and Make Another Document Safe', params: { custom_action: 'add_another' }, class: 'btn btn-primary'