.row
  .col-sm-3.document-safe-list
    %h2 Your Document Safes
    %h3 (Select Safe)
    %ul.list-group
      - @document_safes.each do |document_safe|
        %li.list-group-item.document-safe-title= link_to document_safe.building_name, document_safe_path(document_safe), remote: true
    = will_paginate @document_safes
  .col-sm-9.document-safe-show