.row
  .col-sm-5
    %dl
      %dt Building name
      %dd= @document_safe.building_name
      %dt Street address
      %dd= @document_safe.street_address
      %dt City
      %dd= @document_safe.city
      %dt State
      %dd= @document_safe.state
      %dt Zip
      %dd= @document_safe.zip
      %dt Custom Id
      - if @document_safe.custom_id.blank?
        %dd N/A
      - else
        %dd= @document_safe.custom_id
      %dt # of documents
      %dd= @document_safe.documents.count
  .col-sm-7.document-safe-actions
    %ul.list-unstyled.list-inline
      .row
        .col-sm-4
          %li= link_to '', document_safe_documents_path(@document_safe), class: 'fa fa-unlock fa-5x action-description'
        .col-sm-4
          %li= link_to '', '', data: { toggle: 'modal', target: '#documentSafeModal' }, class: 'fa fa-edit fa-5x action-description'
        .col-sm-4
          %li= link_to '', document_safe_path(@document_safe), confirm: 'Are you sure you want to delete this document safe?', method: :delete, class: 'fa fa-trash-o fa-5x action-description'
    %ul.list-unstyled.list-inline
      .row
        .col-sm-4
          %li.action-description.open Open
        .col-sm-4
          %li.action-description.edit Edit
        .col-sm-4
          %li.action-description.delete Delete
= render 'edit_modal'