.section
  .container
    .row
      .col-sm-4
      .col-sm-4
        %h2 Sign in
        = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
          .alert.alert-danger
            = flash[:alert]
          .form-group
            = f.label :email
            = f.email_field :email, :autofocus => true, class: 'form-control'
          .form-group
            = f.label :password
            = f.password_field :password, class: 'form-control'
          - if devise_mapping.rememberable?
            .form-group
              = f.check_box :remember_me
              = f.label :remember_me
          = f.submit "Sign in", class: 'btn btn-primary'
        = render "devise/shared/links"
      .col-sm-4