.document-type-header { margin-top: 15px; }
.document-links#active { background-color: #FFFF00 }
.custom-active#active { background-color: #FFFF00 }
.datepicker{ z-index:1151 !important; }
.board-minute-reader { 
  margin: 25px;
  padding: 25px 0 25px 0;
  background-color: #d3d3d3;
  
  p.warning {
    margin-top: 20px;
    font-weight: bold;
    color: red;
    padding: 0 25px 0 25px;
  }

  p.warning-description {
    font-weight: bold;
    color: red;
    padding: 0 25px 0 25px;
  }

  .iframe-wrapper { position: relative; }
  .iframe-blocker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
i.fa.fa-caret-square-o-down.pull-right {
  padding: 8px 3px 0 0;
  padding-top: 8px; 
}

.document-show-title-link {
  a {
    text-decoration: none;
    color: black;
  }
}