.document-safe-title { 
  a {
    text-decoration: none;
    color: black;
  }
}

dl {
  margin-bottom: 50px;
  dt {
    background:#428bca;
    color:#fff;
    float:left; 
    font-weight:bold; 
    margin-right:10px; 
    padding:5px;  
    width:120px;
  }
  dd {
    margin:2px 0; 
    padding:5px 0;
  }
}

.document-safe-actions {
  padding-top: 65px;
  a { text-decoration: none; }
  vertical-align: middle;
}
.action-description.open { padding-left: 4px; }
.action-description.edit { padding-left: 14px; }
.action-description.delete { padding-left: 6px; }

.document-safe-show { margin-top: 62px; }