.document-safe-information {
  border: 3px solid black;
  padding: 15px 0 15px 0; 
}
.order-due-diligence-search-results { margin-top: 25px; }
.document-safe-orders-title {
  a {
    text-decoration: none;
    color: black;
  }
}
.apartment-information {
  border: 3px solid red;
  padding: 15px 0 13px 0; 
}

.dl-order-information {
  margin-bottom: 50px;
  dt {
    background:#428bca;
    color:#fff;
    float:left; 
    font-weight:bold; 
    margin-right:10px; 
    padding:5px;  
    width:170px;
  }
  dd {
    margin:2px 0; 
    padding:5px 0;
    width: 500px;
  }
}

i.review-due-diligence-search-icon {
  position: relative;
  top: 30px;
  right: 22px;
}