.centered-home { padding-top: 200px; }
p.warning-message { color: red; }
.support-questions {
  a { text-decoration: none; }
}
.support-answers { display: none; }
.welcome-page-flash {
  position: relative;
  z-index:1151 !important;
}

.user-home-icon-top { margin-top: 100px; }

a.user-home-icons { text-decoration: none; }