- unless flash.blank?
  - flash.each do |flash_type, flash_message|
    .joobstrab_area
      .container
        .row
          .col-sm-12
            %div{ class: "alert alert-#{flash_type == :notice ? "success" : "danger"} text-center" }
              %button{ type: 'button', class: :close, data: { dismiss: :alert} }x
              = flash_message