- if user_signed_in?
  %footer.footer.navbar.navbar-default.navbar-fixed-bottom
    .container
      .row
        .col-lg-4
          ControlSafe © 2013
- else
  %footer.footer
    .container
      .row
        .col-lg-4
          ControlSafe © 2013