%header#jump.header
  %nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: root_path}
          %i.fa.fa-lock
      .collapse.navbar-collapse.hidden-xs
        %ul.nav.navbar-nav.navbar-right
          %li.active
            %a{href: "#jump0"} Home
          %li
            %a{href: "#jump1"} About
          %li
            %a{href: "#jump2"} Privacy
          %li
            %a{href: "#jump4"} Support
          %li
            %a{href: "#jump6"} Contact
      / /.navbar-collapse
      .collapse.navbar-responsive-collapse
        %ul.nav.navbar-nav
          %li.active
            %a{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", href: "#jump0"} Home
          %li
            %a{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", href: "#jump1"} About
          %li
            %a{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", href: "#jump2"} Privacy
          %li
            %a{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", href: "#jump4"} Support
          %li
            %a{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", href: "#jump6"} Contact