- if current_user.lawyer?
  = render template: 'layouts/user_headers/lawyer_header'
- elsif current_user.broker?
  = render template: 'layouts/user_headers/broker_header'
- elsif current_user.manager?
  = render template: 'layouts/user_headers/manager_header'