!!!
%html
  %head
    %title ControlSafe
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    - if user_signed_in?
      .section
        .container
          = render 'layouts/flash'
          = yield
    - else
      = yield
    = render 'layouts/footer'